:root {
  --cor-primaria: #3498db;
  --cor-de-fundo: #f0f0f0;
  --cor-secundaria: #2ecc71;
  --espacamento-padrao: 16px;
  --fonte-principal: 'Arial', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}


body{
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
}

#password-length-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.length-button{
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmButton{
    font-size: 10px;
    width: 10em;
    height: 2.5em;
    font-size: 18px;
    text-align: center;
    margin: 5px;
    background-color: #007bff4f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#confirmButton:not(:disabled) {
    background-color: white;
    color: var(--cor-primaria);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--cor-primaria);
    

}

.digit-info{
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.digit-input {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

/* remover as setas dos input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

#topo{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}