*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
}
#confirmButton{
    
}

.digit-info{
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.digit-input {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

/* remover as setas dos input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

#topo{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}