:root {
    --cor-primaria: #3498db;
    --cor-de-fundo: #f0f0f0;
    --cor-secundaria: #2ecc71;
    --espacamento-padrao: 16px;
    --fonte-principal: 'Arial', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari 3+ and Safari on iOS 3+ */
    user-select: none; /* impede que o usuário selecione texto ou elementos da interface, melhorando a experiência de jogo */
    font-family: var(--fonte-principal);
    touch-action: manipulation; /* otimiza a resposta ao toque em dispositivos móveis, evitando atrasos e melhorando a interatividade */
}


body{
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#topo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 101;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    text-align: center;
}

#password-length-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#pergunta {
    font-size: 1.6em;
}

.length-button{
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmButton, #confirm-play-button:disabled{
    font-size: 1em;
    width: 10em;
    height: 2.5em;
    text-align: center;
    margin: 5px;
    background-color: #007bff4f;
    color: white;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#confirmButton:not(:disabled) {
    background-color: white;
    color: var(--cor-primaria);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--cor-primaria);
    font-size: 20px;
}

#app{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tentativas{
    display: none;
    width: 100%;
    height: calc(100vh - 180px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    scrollbar-gutter: stable;
}
#senha-propria{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0 0.8em 0;
    font-size: 1.6em;
    color: var(--cor-primaria);
    background-color: var(--cor-de-fundo);
    position: sticky;
    top: 57px;
    z-index: 1;
}

#list-tentativas{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease, transform 0.4s ease;
    overflow-y: auto;
    height: auto;
    scrollbar-gutter: stable;
}

.game-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0.2em;
    justify-content: space-around;
}


/* vou configurar para quando for media query */
/* #number{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

.digit-info, .digit-input {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    background-color: white;
    color: var(--cor-primaria);
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--cor-primaria);
    font-size: 20px;
}

/* remover as setas dos input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

.bloqueado, .bloqueado-number {
    background-color: #007bff;
    color: white;
}

.bloqueado:active, .bloqueado-number:active {
    border: none;
}

/* configuração visual de anotações */
.verde{
    background-color: #2ecc71;
    color: black;
    border-color: black;
}
.amarelo{
    background-color: chocolate;
    border-color: black;
    color: black;
}

#confirm-play-button{
    font-size: 1em;
    width: 10em;
    height: 2.5em;
    text-align: center;
    margin: 1.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    flex-shrink: 0;
}
#confirm-play-button:disabled{
    margin: 1.5em;
}

footer{
    background-color: var(--cor-primaria);
    font-size: 10px;
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}
